<footer class="footer__container">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-0">
      <div class="col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 id="popins">About Us</h2>
          <p id="p">
            Restaurant GoodFood vous offre les meilleurs plats de la cuisine,
            préparés par les meilleurs chefs de la région et avec les meilleurs
            ingrédients.
          </p>
          <ul
            class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
          >
            <li class="ftco-animate">
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 id="popins">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span><span
                  id="p"
                  class="text"
                >801 Aviation Pkwy, Ottawa, ON K1K 4R3, Canada</span>
              </li>
              <li>
                <a href="#"><span class="icon icon-phone"></span><span
                    class="text"
                  >+1 613 333 333</span></a>
              </li>
              <li>
                <a href="#"><span class="icon icon-envelope"></span><span
                    class="text"
                  >info@goodfood.com</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 copyright">
        <p>
          Copyright &copy; 2023 All rights reserved
          <br />
          Developed by
          <br />
          <b>Mohamed Habib Belhaj</b>
          - 2711710@collegelacite.ca
          <br />
          <b>Syphax Meziani</b>
          - 2711603@collegelacite.ca
          <br />
          <b>Belaicha Sadek</b>
          - 2713957@collegelacite.ca
          <br />
          <b>Garoui Yanis</b>
          - 2714686@collegelacite.ca

        </p>
      </div>
    </div>
  </div>
</footer>